---
import { contentfulClient } from '@/contentful'

const entries = await contentfulClient.getEntries({
	content_type: 'testimonial',
})
---

<section class="bg-teal-100">
	<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
		<div class="max-w-screen-md mb-8 lg:mb-16 mx-auto text-center">
			<h2
				class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900"
			>
				Testimonials
			</h2>
			<p class="text-gray-500 sm:text-xl">
				What our students and their parents say about us?
			</p>
		</div><div
			class="grid mb-8 border border-teal-700 rounded-lg md:mb-12 md:grid-cols-2"
		>
			{
				entries.items.map(item => {
					const { title, description, person, image, profession } =
						item.fields

					return (
						<figure class="flex flex-col items-center justify-center p-8 text-center border-b border-teal-700 rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e">
							<blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8">
								<h3 class="text-lg font-semibold text-gray-900">
									{title}
								</h3>
								<p class="my-4 text-gray-500">{description}</p>
							</blockquote>
							<figcaption class="flex items-center justify-center">
								<img
									class="rounded-full w-10 h-10 object-cover border-2 border-teal-500"
									src={`${image.fields.file.url}?fm=webp`}
									loading="lazy"
									alt="profile picture"
								/>
								<div class="space-y-0.5 font-medium text-left rtl:text-right ms-3">
									<div>{person}</div>
									<div class="text-sm text-gray-500">
										{profession}
									</div>
								</div>
							</figcaption>
						</figure>
					)
				})
			}
		</div>
	</div>
</section>
